html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    /* background-color: #171717; */
    background-color: #000000;
}

p{
    margin: 0;
}
.px-24{
    padding: 0 24px;
}
.border-4{
    border-radius: 4px;
}

.border-4-l-0{
    border-radius: 0 8px 8px 8px;
}
.border-8{
    border-radius: 8px;
}

.flex{
    display: flex;
}

.w-100{
    width: 100%;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 16px auto;
    box-sizing: border-box;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 1001;
    padding: 0 24px;
}

.welcome-link{
    font-size: 24px;
    display: flex;
    align-items: center;
    gap: 8px;
}
.menu-icon img, .close-icon img{
    width: 24px;
}

nav a {
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
    transition: 0.1s ease-out;
}

nav a:hover {
    color: #FF4800;
    background-color: #2e2e2e;
}

.nav-link-container {
    display: flex;
    gap: 4px;
}

.nav-link-container a{
    padding: 8px 16px;
    background-color: #171717;
}

.menu-icon, .close-icon {
    display: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.curtain-menu {
    display: none;
    position: fixed;
    top: 61px; /* Adjust this to the height of your navbar */
    left: 0;
    width: 100%;
    height: calc(100% - 61px); /* Adjust this to the height of your navbar */
    background-color: rgba(0, 0, 0, 0.9);
    flex-direction: column;
    z-index: 1000;
}

.curtain-menu a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    /* margin-bottom: 1px; */
    /* border-bottom: 1px solid white; */
    background-color: #000000;
    padding: 16px 24px;

}

.white.flex{
    align-items: center;
}

.white.flex img{
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

/* work cards */
.works-card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}
.arrow-image-work{
    width: 24px;
    height: 24px;
    margin-left: auto;
    transition: all 0.4s ease;
}

.work-card{
    max-width: 700px;
    width: calc(50% - 16px);
    text-decoration: none;
}

.work-card:hover{
    transform: translateX(10px) !important;
    transition-delay: 0ms !important;
}

.work-card:hover .arrow-image-work{
    transform: rotate(45deg);
}
.work-content{
    display: flex;
    justify-content: end;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    margin-bottom: 16px;
    cursor: url(../Image/hover.svg), auto;
}

.image-content{
    height: auto;
    width: 100%;
    top: 0;
    left: 0;
    margin-bottom: 8px;
    border-radius: 4px;
}

.work-content::after{
    content: url(../../gradient-black.png);
    height: 80%;
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
}
.work-title{
    font-size: 32px;
    z-index: 99;
    position: relative;
    margin: 0;
}
.work-date{
    font-size: 16px;
    color: #E1E1E1;
}
.work-desc{
    font-size: 16px;
    width: 90%;
    color: #d6d6d6;
    z-index: 99;
    position: relative;
    margin: 0;

}
.tag-container{
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    align-items: center;
    z-index: 2;
}
.tag-container .uiux{
    color: black;
    background-color: #FF4800;
    padding: 8px 16px;

}
.tag-container .frontend{
    color: black;
    background-color: white;
    padding: 8px 16px;
}

.linkedin{
    cursor: url(../Image/icon/Linkedin-hover-icon.svg), auto;
}

.e-mail{
    cursor: url(../Image/icon/Gmail-hover-icon.svg), auto;
}

/* footer */
footer{
    width: 100%;
    max-width: 1440px;
    box-sizing: border-box;
    margin: 120px auto 32px;
    width: 100%;
    padding: 0 16px;
}

footer.mw-700{
    max-width: 700px;
}
.back-to-top {
    display: flex;
    gap: 16px;
    margin-left: auto;
    justify-content: flex-end;
    color: white;
    text-decoration: none;
    align-items: center;
    margin-bottom: 80px;
}

.footer-link-container{
    display: flex;
    padding-bottom: 24px;
    border-bottom: 1px solid #53596B;
    gap: 32px;
}

.footer-link-container a{
    color: white;
    text-decoration: none;
    font-size:16px;
    letter-spacing: 1px;
    font-weight: normal !important;
}

.lets-talk-title{
    color: white;
    font-size: 64px;
    font-weight: 600 !important;
    margin-bottom: 32px;
}
.lets-talk-title i{
    font-weight: 400 !important;
}

.lets-talk-container{
    justify-content: center;
    display: flex;
    gap: 8px;
    margin-top:16px;
    flex-wrap: wrap;
}

.lets-talk-link{
    padding: 24px 40px;
    background-color: white;
    color: black;
    text-decoration: none;
    transition: 0.1s ease-out;
    display: flex;
    align-items: center;
    gap: 8px;
}

.lets-talk-link img{
    filter: grayscale(1) invert(1);
}

.lets-talk-link:hover{
    background: #FF4800;
    color: white;
}

.lets-talk-link:hover img{
    filter: grayscale(1) invert(0);
}

.font-16{
    font-size: 16px;
}

.mb-8{
    margin-bottom: 8px;
}

.mb-24{
    margin-bottom: 24px;
}

.mb-40{
    margin-bottom: 40px;
}

orange{
    color: #FF4800;
    font-style: italic;
}

.plus-sign {
    position: relative;
  }
  
  .plus-sign::before,
  .plus-sign::after {
    content: '';
    position: absolute;
    background-color: black; /* Set color for the plus sign */
  }
  
  .plus-sign::before {
    width: 100%;   /* Horizontal bar */
    height: 10px;  /* Thickness of the horizontal bar */
    top: 50%;      /* Center it vertically */
    left: 0;
    transform: translateY(-50%);
  }
  
  .plus-sign::after {
    width: 10px;   /* Thickness of the vertical bar */
    height: 100%;  /* Vertical bar */
    top: 0;
    left: 50%;     /* Center it horizontally */
    transform: translateX(-50%);
  } 

.short-about-highlight, .short-about-based{
    padding: 16px;
    min-width: 280px;
    max-width: 440px;
    max-height: 2260px;
    position: relative;
    height: 220px;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    background-size: 100% 100%;
    background-color: #252525;
}

.short-about-highlight p{
    text-align: right;
    margin: 0 auto;
    width: 100%;
    box-shadow: #000000;
}

.short-about-highlight orange{
    font-style: normal;
    color: #CA2027;
}

.short-about-container orange{
    font-style: normal;
    color: #CA2027;
    font-weight: 800;
}

.short-about-highlight .white{
    font-weight: 900;
    font-size: 24px;
    color: #ffffff;
}

.document-head{
    position: absolute;
    top: -28px;
    left: 0;
}

.tcid-logo{
    position: absolute;
    left: -30px;
    transform: rotate(-20deg);
    top: 0px;
    width: 144px;
    height: auto;
}

.person-pin{
    position: absolute;
    right: -40px !important;
    top: -48px;
    width: 120px;
    transform: none !important;
}

.short-about-potrait{
    width: 20%;
    box-sizing: border-box;
    min-height: 100px;
    min-width: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.short-about-potrait img{
    height: 100%;
    margin: auto;
    display: block;
}
.short-about-based{
    top: 32px;
}

.short-about-based div{
    display: flex; 
        gap: 16px;
        width: 100%;
        justify-content: flex-end;
        margin-bottom: 4px;
}

.based-globe{
    position: absolute;
    bottom: -80px;
    right: -56px;
    width: 132px;
    height: 132px;
    transform: rotate(124deg);
    z-index: -9999;
}

.short-about-based p{
    text-align: end;
}
/* .short-about-based img{
    width: 20px;
    height: 20px;
} */
.short-about-arrow{
    box-sizing: border-box;
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    flex: 1 1 30%;
    padding: 0 16px;
}
.short-about-arrow img{
    width: 60px;
    height: max-content;
}
.short-about-arrow img:nth-child(1){
    opacity: 0.3;
}
.short-about-arrow img:nth-child(2){
    opacity: 0.6;
}

.section-container{
    max-width: 1440px;
    margin: 32px auto 160px;
    padding: 0 16px;
}
.section-title-container{
    margin: auto;
    margin-bottom: 40px;
    position: relative;
    width: fit-content;
}



.section-title-container .fun{
    position: absolute;
    width: 220px;
    right: -40px;
    top: -60px;
    opacity: 0;
    transform: rotate(10deg) translateY(-10px);
    transition: all 0.4s ease;
}

.section-title-container:hover .fun{
    opacity: 1 !important;
    transform: rotate(10deg) translateY(0px);
}

.short-about-container{
    /* max-width: 991px; */
    margin: 0px auto 160px;
}

.short-about-container .sub-title{
    color: rgb(160, 160, 160);
    font-size: 16px;
    margin-bottom: 8px;
}

.short-about-desc{
    padding: 140px 16px;
    background: radial-gradient(circle, rgb(31, 31, 31) 1px, transparent 1px);
    background-size: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    flex: 1 1 auto;
    box-sizing: border-box;
    font-size: 24px;
    /* height: 520px; */
    border: 0;
}  

.short-about-container .desc{
    color: white;
    font-size: 54px;
    /* max-width: 991px */
    margin: auto;
    width: 100%;
    margin: 0;
}

.section-title{
    font-size: 56px;
    color: white;
    margin: 0;
    line-height: 100%;
    text-align: center;
}

.section-subtitle{
    font-size: 20px;
    color: #868686;
    display: block;
    gap: 8px;
    margin: auto;
    text-align: center;
}

.section-title img{
 width: 32px;
}

.CTA-container h2{
    text-align: center;
    max-width: 840px;
    width: 100%;
    margin: auto;
    display: block;
}

.about-container{
    display: flex;
    flex-direction: column;
}

.flex .about-me-content-container{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.about-me-content-container{
    padding: 32px 24px;
    background-color: #1A1A1A;
    border-bottom: 1px #373737 solid;
}

.flex-short-about .about-me-content-container:nth-child(1){
    border-right: 1px solid #373737;
}

.about-me-content-title{
    color: white;
    font-size: 24px;
}

.about-title-container{
    display: flex;
    gap: 16px;
    align-items: center;
    margin-bottom: 16px;
}

.about-title-container img{
    width: 24px;
    height: 24px;
}

.about-me-content-container .montserrat-500.white{
    font-size: 16px;
    margin-bottom: 4px;
}

.resume-button{
    padding: 24px;
    width: 100%;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    cursor: pointer;
    display: block;
    text-decoration: none;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 4px;
    font-size: 24px;
    transition: all 0.2s ease;
    position: relative;
    overflow: hidden;
    z-index: 2;
}



.resume-button::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/Image/arrow-title.svg');
    background-repeat: repeat;
    transform: rotate(0); /* Rotate background */
    transform-origin: center;
    background-position: right bottom;
    background-size: 16px;
    filter: grayscale(1) brightness(0) invert(1);
    transform: translateX(-50%) translateY(-100px) rotate(0);
    opacity: 0;
    z-index: 0;
    transition: 0.6s;
    /* animation: fade-and-rotate 2s ease-in-out forwards; */

}

.resume-button p{position: relative;z-index: 2;}

.resume-button img{
    filter: grayscale(1) invert(1);
    width: 32px;
    position: relative;
    z-index: 99;
}

.resume-button:hover{
    background-color: #FF4800;
    color: #ffffff;
}

.resume-button:hover:before {
    animation: fade-and-rotate 0.6s ease-in-out forwards;
    /* opacity: 0.3; */
  }

.resume-button:hover img{
    filter: grayscale(1) invert(0);
}

@keyframes fade-and-rotate {
    0% {
      opacity: 0;
      transform: translateX(-50%) translateY(-100px) rotate(0);
    }
    100% {
      opacity: 0.3;
      transform: translateX(-50%) translateY(0px) rotate(0); /* Rotation completes at the end */
    }
  }

.date, .employer, .role{
    font-family: "Montserrat", sans-serif;
}

.date, .employer{
    /* font-size: 16px; */
    font-weight: 400;
}

.role{
    margin-bottom: 4px;
}

.white {
    color: white;
}

.orange {
    color: #FF4800;
}

.grey-font {
    color: #999999;
}

.font-16 {
    font-size: 16px;
}

.mb-24 {
    margin-bottom: 24px;
}

.dotgothic16-regular {
    font-family: "DotGothic16", sans-serif;
    font-style: normal;
}

.montserrat-300 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
}

.montserrat-400 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

.montserrat-500 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
}

.montserrat-600 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
}

.montserrat-700 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
}

.montserrat-800 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
}

/* text-phasing-css */
.i-am-text{
    font-size: 40px;white-space: nowrap;
    color: #FF4800;
}
.animation-window {
    position: relative;
    overflow: hidden;
    transition: height 300ms;
    /* Remove the fixed height */
    height: auto;
}

.animation-gray-list {
    position: absolute;
    color: rgb(61, 61, 61);
    height: fit-content;
}

.animation ul {
    position: relative;
    list-style: none;
    top: 0;
    padding: 0;
    margin: 0;
    transition: top 300ms;
}

.animation li {
    margin: 0 .2em;
    font-size: 40px;
}


@media only screen and (max-width: 488px) {
    .nav-link-container {
        gap: 24px;
    }

        
}

@media (max-width: 648px) {
    .nav-link-container a {
        display: none;
    }

    .based-globe{
        right: auto;
        left: -56px;
        bottom: -80px;
    }

    .flex-short-about{
         flex-direction: column;
    }

    .resume-container{
        width: 100% !important;
    }

    .short-about-highlight, .short-about-based{
        max-height: 2260px;
        height: 200px;
    }

    .running-text{
        font-size: 14px !important;
    }

    .running-text.middle{
        font-size: 24px !important;
        left: -45% !important;
    }

    .section-title img{
        display: none;
    }

    .section-title-container{
        margin-left: 0;
        margin-bottom: 24px;
    }

    .section-subtitle{
        text-align: start;
        font-size: 14px;
        padding: 8px;
        border-radius: 80px;
        background: #252525;
        width: fit-content;
        color: #FF4800;
        margin-left: 0;
        margin-bottom: 4px;
    }

    .short-about-highlight p, .short-about-based p{
        text-align: start;
    }

    .short-about-based div{
        display: flex; 
        gap: 16px;
        width: 100%;
        flex-direction: row-reverse;
    }

    .tcid-logo{
        position: absolute;
        left: auto;
        right: 16px;
        transform: rotate(-20deg);
        top: -20px;
        width: 144px;
        height: auto;
    }

    .person-pin{
        position: absolute;
        right: 24px !important;
        top: -32px;
        width: 100px;
        transform: none;
    }

    .animation li {
        font-size: 32px;
    }

    .i-am-text{
        font-size: 32px;
    }

    .menu-icon {
        display: flex;
        padding: 16px;
    }

    .flex-short-about .about-me-content-container:nth-child(1){
        border-right: 0 solid #373737;
        border-bottom: 1px solid #373737;
    }    

    .close-icon{
        padding: 16px;
        background-color: #171717;
    }
    
    .curtain-menu, .close-icon {
        display: none;
    }

    .close-icon, .menu-icon{
        height: 61px;
        box-sizing: border-box;
        transition: 0.1s ease-in-out;
    }

    .short-about-highlight .white{
        font-size: 20px;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 700px;
        margin: 0 auto;
        padding: 0;
        box-sizing: border-box;
        position: fixed;
        top: 0;
        /* width: 100%;
        border-bottom: #ffffff;
        border-block-end: 1px solid gray; */
        background-color: #000000;
        z-index: 1001;
    }

    .lets-talk-link{
        width: 100%;
    }

    .resume-button{
        font-size: 20px;
    }

    .resume-button img{
        width: 24px;
    }

    .scroll-container{
        top: -32px !important;
    }

    .welcome-link{
        padding: 16px;
    }

    .short-about-container .desc{
        font-size: 32px;
    }
}

@media only screen and (max-width: 1140px) {
    .short-about-desc{
        padding: 32px;
        font-size: 24px;
        height: auto;
    }
    .short-about-highlight, .short-about-based{
        padding: 20px;
    }
    .short-about-highlight {
        margin-top: 48px;
    }
    .short-about-container .desc{
        font-size: 40px;
    }
}

@media only screen and (max-width: 1048px) {
    .short-about-arrow img{
    transform: rotate(180deg);
}
}

@media only screen and (max-width: 488px) {
    .short-about-desc{
        font-size: 14px;
        padding: 80px 16px;
        /* height: 200px; */
    }
    .short-about-arrow img{
    transform: rotate(180deg);
    width: calc(30%);
}

.short-about-container .desc{
    font-size: 24px;
}

.animation li {
    font-size: 24px;
}

.i-am-text{
    font-size: 24px;
}


.short-about-potrait{
    width: 50%;
    min-width: 0;
}

.short-about-arrow{
    width: 50%;
    gap: 6px;
    padding: 0 8px;
}

.short-about-highlight p{
    margin: 0 0 0 auto;
}
}
@media only screen and (max-width: 488px) {
    .about-me-content-title{
        font-size: 20px;
    }

    .about-me-content-container .montserrat-500.white{
        font-size: 16px;
    }

    .grey-font.font-16-14{
        font-size: 14px;
    }

    .section-title{
        font-size: 44px;
        text-align: start;
    }
}

@media only screen and (max-width: 991px) {
  

  .work-content{
  /* height: 240px; */
  display: flex;
  justify-content: end;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  margin-bottom: 16px;
}

.work-title{
    font-size: 24px;
}

}

@media only screen and (max-width: 700px) {
  .works-card-container{
      flex-direction: column;
  }

  .work-card{
      width: 100%;
      max-width: 100%;
  }

  .work-content{
  height: 280px;
  display: flex;
  justify-content: end;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  margin-bottom: 16px;
}

.image-content{
  height: auto;
  width: 100% !important;
}
}

@media only screen and (max-width: 552px) {
.work-card{
  background-color: transparent;
}
.work-content{
height: auto;
display: flex;
justify-content: end;
flex-direction: column;
overflow: hidden;
position: relative;
margin-bottom: 16px;
}

.image-content{
height: auto;
width: 100% !important;
position: static !important;
margin-bottom: 16px;
}

.work-content::after{
  display: none !important;
}

.work-title{
  font-size: 20px;
  font-weight: 600;
}
.work-desc{
  font-size: 12px;
}

.tag-container{
  font-size: 12px;
}

.section-title-container .fun{
    display: none;
}

.section-title-container .fun{
    position: absolute;
  width: 120px;
  right: -50px;
  top: -64px;
  opacity: 0;
  transform: rotate(10deg) translateY(-10px);
  transition: all 0.4s ease;
}
}


/* matter js */
canvas {
        display: block;
        /* border: 1px solid white;
        border-block-end: 1px solid gray; */
        max-width: 1440px;
        max-height: 520px;
        width: 100%;
        height: 100%;
        margin: 0 auto 0;
    }

    .title-name-text{
        width: 100%;
        max-width: 1440px;
        display: block;
        margin: 0px auto 20px;
        box-sizing: border-box;
    }

    .matter-canvas{
        display: block;
        margin: 80px auto 0;
    }

    .hint{
        font-size: 10px;
        font-style: italic;
        color: white;
        max-width: 1440px;
        margin:  4px auto 160px;
        padding: 0 24px;
    }